body{
    background-color: #009dff;
    font-family: monospace
}
button { 
    font-family: inherit;
    font-weight: bold;
}

.empty-slot{
    background-color: lightgrey;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    margin: auto;

}
.p1-slot{
    background-color: red;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    margin: auto;

}
.p2-slot{
    background-color: yellow;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    margin: auto;

}
.row-selector-p1{
    width:66px;
    height:30px;
    background-color: lightgrey;
    margin: auto;
    border-radius: 5px;
}
.row-selector-p1:hover{
    background-color: red;
}
.row-selector-p2{
    width:66px;
    height:30px;
    background-color: lightgrey;
    margin: auto;
    border-radius: 5px;
}
.row-selector-p2:hover{
    background-color: yellow;
}
.row-selecter-text{
    font-family: monospace;
}

.left-layout{
    float: left;
    width: 50%;
    
}
.right-layout{
    float: right;
    width: 50%;
}
.player-container{
    width: 75%;
    height: 75px;
    float:left;
    background-color: lightgray;
    border-radius: 5px;
    box-shadow: 2px;
    margin-top: 30px;
}
.player-text{
    text-align: center;
    font-family:monospace;
}
.table-wrapper{
    margin: auto;
    margin-top: 30px;
}