<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/game_style.css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <table>
        <tr>
            <th><div class = "row-selector"></div></th>
            <th><div class = "row-selector"></div></th>
            <th><div class = "row-selector"></div></th>
            <th><div class = "row-selector"></div></th>
            <th><div class = "row-selector"></div></th>
            <th><div class = "row-selector"></div></th>
            <th><div class = "row-selector"></div></th>
        </tr>
        {% for x in board %}
        <tr>
            {% for y in x %}
            {% if y ==0 %}
            <td><div class = "empty-slot"></div></td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>   
</body>
</html>